@charset "utf-8";

/*-------------------------
汎用css
---------------------------*/
.sp {
  display: none;
}
@media screen and (max-width: 640px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  span.sp {
    display: inline;
  }
}

/* box */
.box-size {
  width: 100%;
  margin: 0 auto;
}
.box-side {
  padding-right: 20px;
  padding-left: 20px;
}
.size-870 {
  max-width: 870px;
}
.box-side.size-870 {
  max-width: 910px;
}
.size-940 {
  max-width: 940px;
}
.box-side.size-940 {
  max-width: 980px;
}
.size-1000 {
  max-width: 1000px;
}
.box-side.size-1000 {
  max-width: 1040px;
}
.size-1100 {
  max-width: 1100px;
}
.box-side.size-1100 {
  max-width: 1140px;
}
.size-1140 {
  max-width: 1140px;
}
.box-side.size-1140 {
  max-width: 1180px;
}
.size-1400 {
  max-width: 1400px;
}
.box-side.size-1140 {
  max-width: 1180px;
}
.size-1400 {
  max-width: 1400px;
}
.box-side.size-1400 {
  max-width: 1440px;
}
.inner-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}
.inner-padding-top {
  padding-top: 140px;
}
.contents-border {
  border-bottom: 1px solid var(--color-01);
}
.box-back {
  background-color: var(--color-01);
  color: #fff;
}
.box-back-dark {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .inner-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .inner-padding-top {
    padding-top: 60px;
  }
}

/* flex box */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex a,
.flex img {
  display: block;
  width: 100%;
}
.col-3-2-1 > * {
  width: calc(100% / 3);
}
.col-4-2-2 > * {
  width: 25%;
}
.col-5-3-1 > * {
  width: 20%;
}
.col-margin-10 {
  margin: 0 0 -10px -10px;
}
.col-margin-10 > * {
  padding: 0 0 10px 10px;
}
.col-margin-20 {
  margin: 0 0 -20px -20px;
}
.col-margin-20 > * {
  padding: 0 0 20px 20px;
}
.col-margin-50 {
  margin: 0 0 -50px -50px;
}
.col-margin-50 > * {
  padding: 0 0 50px 50px;
}
@media screen and (max-width: 960px) {
  .col-3-2-1 > * {
    width: 50%;
  }
  .col-4-2-2 > * {
    width: 50%;
  }
  .col-5-3-1 > * {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 640px) {
  .col-3-2-1 > *,
  .col-5-3-1 > * {
    width: 100%;
  }
}

/* d-list */
.d-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.d-list dt {
  color: #646464;
  font-weight: 500;
}
.d-list > *:nth-child(n + 3) {
  margin-top: 50px;
}
.d-theme5 dt {
  width: 7em;
}
.d-theme5 dd {
  width: calc(100% - 7em);
}

/* title */
.contents-outer {
  position: relative;
}
.contents-outer > * {
  position: inherit;
  z-index: 1;
}
.title {
  width: 100%;
  position: absolute;
  top: 202px;
  left: 0;
  z-index: 0;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .title {
    top: 122px;
  }
}
.title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title.animated li {
  animation: titleSlides 20s linear 1.5s infinite;
}
@keyframes titleSlides {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.title svg {
  fill: rgba(222, 0, 18, 0);
  stroke: var(--color-01);
  stroke-miterlimit: 10;
  stroke-dasharray: 670px;
  stroke-dashoffset: 670px;
  height: 92px;
}
.box-back .title svg {
  fill: rgba(255, 255, 255, 0);
  stroke: #fff;
}
.title.animated svg {
  animation: titleStroke 2s linear both, titleFill 1s linear 1.5s both;
}
.box-back .title.animated svg {
  animation: titleStroke 2s linear both, titleFillw 1s linear 1.5s both;
}

.title-01 {
  color: var(--color-01);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
.title-01 span {
  display: block;
  font-size: 36px;
  margin-top: 20px;
}

.title-02 {
  color: var(--color-01);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}
.box-back .title-02 {
  color: #fff;
}
.title-03 {
  color: var(--color-01);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}
.title-b {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}
.title-y {
  color: #ffdf00;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}
.title-w {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}
#contentsBottom .title-03 {
  color: #000;
}
.box-back-dark .title-03 {
  color: var(--color-02);
}
.title-03.title-03-left {
  text-align: left;
}
.title-03 span {
  display: inline-block;
  margin-right: 0.5em;
}
.title-03 svg {
  display: block;
  fill: rgba(222, 0, 18, 0);
  stroke: var(--color-01);
  stroke-miterlimit: 10;
  stroke-dasharray: 670px;
  stroke-dashoffset: 670px;
  margin: 40px auto 0;
}
.title-b svg {
  display: block;
  fill: #000000;
  stroke: #000000;
  stroke-miterlimit: 10;
  stroke-dasharray: 710px;
  stroke-dashoffset: 710px;
  margin: 16px auto 0;  
}
.title-y svg {
  display: block;
  fill: #ffdf00;
  stroke: #ffdf00;
  stroke-miterlimit: 10;
  stroke-dasharray: 670px;
  stroke-dashoffset: 670px;
  margin: 0 auto 0;
}
.title-w svg {
  display: block;
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-dasharray: 670px;
  stroke-dashoffset: 670px;
  margin: 0;
}
#contentsBottom .title-03 svg {
  fill: rgba(0, 0, 0, 0);
  stroke: #000;
}
.title-b svg {
  fill: rgba(0, 0, 0, 0);
  stroke: #000;
}
.title-y svg {
  fill: rgba(0, 0, 0, 0);
  stroke: #ffdf00;
}
.title-w svg {
  fill: rgba(0, 0, 0, 0);
  stroke: #fff;
}
.box-back-dark .title-03 svg {
  fill: rgba(255, 224, 0, 0);
  stroke: var(--color-02);
}
.title-03.title-03-left svg {
  margin: 40px auto 0 0;
}
.title-03.animated svg {
  animation: titleStroke 2s linear both, titleFill 1s linear 1.5s both;
}
.title-b.animated svg {
  animation: titleStroke 2s linear both, titleFillb 1s linear 2s both;
}
.title-y.animated svg {
  animation: titleStroke 2s linear both, titleFilly 1s linear 1.5s both;
}
.title-w.animated svg {
  animation: titleStroke 2s linear both, titleFillw 1s linear 1.5s both;
}
#contentsBottom .title-03.animated svg {
  animation: titleStroke 2s linear both, titleFillb 1s linear 1.5s both;
}
.box-back-dark .title-03.animated svg {
  animation: titleStroke 2s linear both, titleFilly 1s linear 1.5s both;
}

@keyframes titleStroke {
  from {
    stroke-dashoffset: 670px;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes titleFill {
  from {
    fill: rgba(222, 0, 18, 0);
  }
  to {
    fill: rgba(222, 0, 18, 1);
  }
}
@keyframes titleFillw {
  from {
    fill: rgba(255, 255, 255, 0);
  }
  to {
    fill: rgba(255, 255, 255, 1);
  }
}
@keyframes titleFillb {
  from {
    fill: rgba(0, 0, 0, 0);
  }
  to {
    fill: rgba(0, 0, 0, 1);
  }
}
@keyframes titleFilly {
  from {
    fill: rgba(255, 224, 0, 0);
  }
  to {
    fill: rgba(255, 224, 0, 1);
  }
}

/* image */
.img-c {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* anchor */
.anchor-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}
.anchor-circle.circle-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.anchor-circle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  color: var(--color-01);
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  position: relative;
}
.box-back .anchor-circle a {
  color: #fff;
}
.anchor-circle figure {
  width: 61px;
  height: 61px;
  margin-left: 20px;
}
.anchor-circle svg {
  display: block;
  width: 100%;
}
.anchor-circle .circle {
  fill: none;
  stroke: var(--color-01);
  stroke-dasharray: 190px;
  stroke-dashoffset: 0;
  transition: 0.2s ease-out 0.2s;
}
.box-back .anchor-circle .circle {
  stroke: #fff;
}
.anchor-circle a:hover .circle {
  stroke-dashoffset: 190px;
  transition: 0.2s ease-out;
}
.anchor-circle .arrow {
  fill: var(--color-01);
  transition: 0.2s ease-out;
}
.box-back .anchor-circle .arrow {
  fill: #fff;
}
.anchor-circle a:hover .arrow {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  transition: 0.2s ease-out 0.2s;
}
.anchor-circle span {
  display: block;
  font-size: 0.46em;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
}

/* anchor-inner */
.anchor-circle-inner {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
}
.anchor-circle-inner > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
.anchor-circle-inner svg {
  display: block;
  width: 41px;
  height: 41px;
  margin-left: 10px;
}
.anchor-circle-inner .arrow {
  fill: var(--color-01);
  transition: 0.2s ease-out;
}
.anchor-circle-inner .circle {
  fill: none;
  stroke: var(--color-01);
  stroke-dasharray: 130px;
  stroke-dashoffset: 0;
  transition: 0.2s ease-out 0.2s;
}
.anchor-circle-inner.anchor-circle-light .arrow {
  fill: #fff;
}
.anchor-circle-inner.anchor-circle-light .circle {
  stroke: #fff;
}
.anchor-circle-inner:hover .arrow {
  transition: 0.2s ease-out 0.2s;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.anchor-circle-inner:hover .circle {
  stroke-dashoffset: 130px;
  transition: 0.2s ease-out;
}
.anchor-circle-inner figcaption {
  color: var(--color-01);
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}
.anchor-circle-inner.anchor-circle-light figcaption {
  color: #fff;
}

/* anchor-bound */
.anchor-bound:hover img {
  animation: bound 500ms infinite;
}
@keyframes bound {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* text align */
.text-align-j {
  text-align: justify;
}
.text-align-c,
.text-align-c-j {
  text-align: center;
}
.text-align-r {
  text-align: right;
}
@media screen and (max-width: 640px) {
  .font-align-c-j {
    text-align: justify;
  }
}

/* テキスト見出し */
.text-hedding {
  color: var(--color-01);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
}
.box-back-dark .text-hedding {
  color: var(--color-02);
}

/* pagination */

/* MAP */
.map {
  width: 100%;
  height: 300px;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/* margin */
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt80 {
  margin-top: 80px !important;
}

/*-------------------------
Animation
---------------------------*/
.setAnime.animated {
  transition-property: opacity, transform, filter;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

/*-------------------------
Swiper
---------------------------*/
/* common */
.swiper-container {
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.swiper-pagination-bullet {
  background-color: var(--color-01);
  width: 11px;
  height: 11px;
  border: 1px solid var(--color-01);
  opacity: 1;
  transition: 0.2s ease-out;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.box-back .swiper-pagination-bullet {
  background-color: #fff;
  border: 1px solid #fff;
}
.box-back .swiper-pagination-bullet-active {
  background-color: var(--color-01);
}

/* slide1 */
.slide1 li {
  max-width: 366px;
  height: auto;
  border-width: 2px 1px;
  border-color: var(--color-01);
  border-style: solid;
}
.slide1 a,
.slide1 img {
  display: block;
  width: 100%;
}
.slide1 a {
  height: 100%;
  min-height: 452px;
  padding: 60px 40px 40px;
  transition: 0.2s ease-out;
}
.slide1 a:hover {
  background-color: var(--color-01);
  color: #fff;
}
.slide1 figure {
  max-width: 140px;
  margin: 0 auto 40px;
  border-radius: 10px;
  overflow: hidden;
}
.slide1 dt {
  font-size: 22px;
  font-weight: 700;
}
.slide1 dd {
  text-align: justify;
  margin-top: 20px;
}

/* slide2 */
.slide2 li {
  max-width: 320px;
  height: auto;
}
.slide2 a,
.slide2 img {
  display: block;
  width: 100%;
}
.slide2 a {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  height: 100%;
  padding: 10px 10px 20px;
  transition: 0.2s ease-out;
}
.slide2 a:hover {
  background-color: #000;
  color: #fff;
}
.slide2 time {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 20px;
}
.slide2 p {
  text-align: justify;
  padding: 0 20px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .swiper-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .slide1 li,
  .slide2 li {
    max-width: none;
  }
  .slide1 li {
    border-width: 2px;
  }
}
