.contact{
  .contents-outer{
    margin-top: 49px;
    #otherService{
      padding-top: 83px;
      dd{
        margin-top: 10px;
      }
      .anchor-circle-inner{
        padding-top: 54px;
        padding-bottom: 40px;
        & > figure{
          margin-top: 4px;
          margin-right: 13px;
        }
      }
    }
  }
  .title{
    top: 133px;
  }
  #contentsBottom{
    padding-top: 69px;
  }
  .sns-button{
    margin-bottom: 100px;
    margin-top: 102px;
  }
}
.page_contact{
    padding-top: 103px;
    overflow: hidden;
    @include is-max(480px){
        padding-top: 92px;
    }
    #bottomButton{
        position: fixed;
        top: 33.5%;
        right: 1%;
        @include sp{
        display: none;
        }
    }
    &__ttl{
        text-align: center;
        .main{
            color: $font-color-red;
            font-size: 24px;
            @include Helvetica(700);
        }
        .sub{
            color: $font-color-red;
            font-size: 36px;
            padding-top: 19px;
            @include Gothic(700);
        }
    }
    .title-b{
        .pc{
            display: block;
            @include is-max(480px){
                display: none;
            }
        }
        .sp{
            display: none;
            @include is-max(480px){
                display: block;
            }
        }
        svg{
            @include is-max(480px){
                margin: 10px auto 0;
            }
        }
    }
    &__desc{
        max-width: 652px;
        margin: 121px auto 0;
        @include is-max(480px){
            margin: 58px auto 0;
        }
        p{
            font-size: 14px;
            line-height: 23px;
            @include Noto_Sans(400);
        }
    }
    &__input{
        background-color: #f0f0f0;
        padding: 115px 0 100px 0;
        margin-top: 96px;
        @include is-max(480px){
            margin-top: 37px;
            padding: 52px 0 30px 0;
        }
        &--ttl{
            font-size: 20px;
            text-align: center;
            padding-bottom: 6px;
            letter-spacing: -1.5px;
            @include Gothic(500);
        }
        &--desc{
            max-width: 583px;
            margin: 77px auto 0;
            @include is-max(480px){
                margin: 47px auto 0;
            }
            p{
                font-size: 14px;
                line-height: 23px;
                letter-spacing: -1px;
                @include Noto_Sans(400);
                span{
                    color: $font-color-red;
                }
            }
        }
        &--form{
            max-width: 703px;
            margin: 50px auto 0;
            .form-group{
                display: flex;
                padding-bottom: 62px;
                justify-content: center;
                @include is-max(480px){
                    padding-bottom: 50px;
                }
                &:not(:first-child){
                    @include is-max(480px){
                        flex-wrap: wrap;
                        padding-bottom: 50px;
                        justify-content: space-between;
                    }
                }
                &:nth-of-type(10){
                    justify-content: center;
                    padding-bottom: 0;
                    padding-top: 32px;
                    align-items: center;
                    input[type="radio"]{
                        margin-top: 0;
                    }
                    label{
                        font-size: 16px;
                        @include Gothic(700);
                    }
                }
                &:nth-child(n + 2){
                    padding-bottom: 38px;
                    @include is-max(480px){
                        padding-bottom: 20px;
                    }
                }
                &:nth-child(2),
                &:nth-child(5),
                &:nth-child(6){
                    input[type="text"]{
                        width: 52%;
                        @include is-max(480px){
                            width: 78%;
                        }
                    }
                }
                &__row-1{
                    width: 180px;
                    @include is-max(480px){
                        width: 100%;
                    }
                    p{
                        font-size: 16px;
                        letter-spacing: 0.1px;
                        line-height: 18px;
                        padding-top: 7px;
                        @include Gothic(700);
                        @include is-max(480px){
                            padding-bottom: 14px;
                        }
                        span{
                            color: $font-color-red;
                            font-size: 12px;
                            vertical-align: top;
                            line-height: 1;
                            display: inline-block;
                            @include Gothic(500);
                        }
                    }
                }
                &__row-2{
                    width: calc(100% - 180px);
                    @include is-max(480px){
                        width: 100%;
                    }
                    input[type="text"],
                    textarea{
                        width: 90%;
                        border: 1px solid #acadad;
                        padding: 6px 10px;
                        margin: 0;
                        font-size: 14px;
                        @include Gothic(500);
                        @include is-max(480px){
                            width: 100%;
                        }
                    }
                    input[type="radio"]{
                        margin: 0;
                        padding-bottom: 10px;
                        width: 19px;
                    }
                    label{
                        letter-spacing: -0.5px;
                        @include is-max(377px){
                            font-size: 4vw;
                        }
                    }
                }
                &:first-child{
                    .page_contact__input--form,.form-group__row-1{
                       @include is-max(480px){
                            width: 120px;
                       }
                       @include is-max(360px){
                           width: 130px;
                       }
                    }
                    .page_contact__input--form,.form-group__row-2{
                        @include is-max(480px){
                            width: 225px;
                        }
                    }
                }
            }
            .privacy_policy{
                overflow-y: scroll;
                max-height: 360px;
                background-color: #fff;
                border: 1px solid #acadad;
                padding: 47px 35px;
                width: 93%;
                margin-top: 17px;
                @include is-max(480px){
                    width: 100%;
                }
                &__ttl{
                    font-size: 12px;
                    @include Noto_Sans(400);
                }
                &__desc{
                    font-size: 12px;
                    padding-top: 25px;
                    @include Noto_Sans(400);
                }
            }
            .button_submit{
                display: flex;
                justify-content: center;
                button{
                    background-color: #000;
                    color: #fff;
                    border: none;
                    margin: 47px auto 0;
                    padding: 40px;
                    width: 320px;
                    @include is-max(480px){
                        width: 100%;
                        margin: 12px auto 0;
                    }
                    p{
                        font-size: 42px;
                        @include Helvetica(700);
                    }
                    span{
                        font-size: 16px;
                        @include Noto_Sans(500);
                    }
                }
            }
        }
    }
    &__btn_contact{
        display: flex;
        justify-content: center;
        margin-top: 63px;
        @include is-max(480px){
            margin-top: 20px;
        }
        a{
           position: relative;
            @include is-max(480px){
                width: 100%;
            }
            button{
                border: none;
                background-color: #fff;
                border: 1px solid #dc0012;
                border-radius: 10px;
                width: 510px;
                text-align: center;
                padding: 0;
                @include is-max(480px){
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #dc0012;
                    border-radius: 0;
                    text-align: left;
                }
                .button_content{
                    @include is-max(480px){
                       padding: 0 25px;
                    }
                .inquiry{
                    font-size: 18px;
                    padding: 33px 0 16px;
                    letter-spacing: -1px;
                    @include Noto_Sans(500);
                    @include is-max(480px){
                        padding: 33px 0 5px;
                    }
                }
                .reception{
                    font-size: 16px;
                    padding-top: 9px;
                    padding-bottom: 41px;
                    @include Noto_Sans(400);
                    @include is-max(480px){
                        text-align: center;
                        padding-top: 4px;
                        padding-bottom: 20px;
                    }
                }
                .tel_number{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    max-width: 310px;
                    margin: 0 auto;
                    @include is-max(480px){
                        justify-content: flex-start;
                        margin: 0;
                    }
                    img{
                        width: 38px;
                        @include is-max(480px){
                            position: absolute;
                            bottom: 7vw;
                        }
                    }
                    .tel{
                        font-size: 42px;
                        @include Helvetica(700);
                    }
                }
                }

            }

            .setAnime{
                position: absolute;
                top: -25%;
                right: -11%;
                z-index: 1;
                @include is-max(640px){
                    top: -13%;
                }
                @include is-max(480px){
                    width: 135px;
                    top: -5.5vw;
                    right: -7vw;
                }
                &.animated {
                    .lady{
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }

            .lady{
                display: block;
                opacity: 0;
                transition: 0.3s cubic-bezier(0.76, 2.18, 0.59, 0.55), opacity 0.2s ease-out;
                transform: scale(0.5);
            }
        }
    }
}